[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/saz/puppet-php.git
